.CategoryContainer .row .card p {
      font-size: 15px;
      font-weight: 300;
      color: black;
}

.CategoryContainer a {
      color: black;
}

.CategoryContainer .card {
      margin-top: 35px;
}

.CategoryContainer .heading h2 {
      margin-top: 55px;
}
.CategoryContainer .heading p {
      font-size: 16px;
      color: black;
      display: block;
      margin: 0 auto !important;
      width: 34%;
}

.imageCard img {
      max-width: 190px !important;
      max-height: 155px !important;
      min-width: 190px !important;
      min-height: 155px !important;
}