
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;700&display=swap')

.custom-shape-divider-top-1638186345
      position: absolute
      top: 0
      left: 0
      width: 100%
      overflow: hidden
      line-height: 0
      & svg
            position: relative
            display: block
            width: calc(153% + 1.3px)
            height: 3.3rem
      & .shape-fill
            fill: #ff850b

.navHeader
      display: flex
      justify-content: flex-end
      align-items: center
      padding: 5px 3%
      text-decoration: none
      margin: 60px auto
      background-color: #ff850bce !important
      box-shadow: 0px 0px 43px -5px #0000003a
      border-radius: 25px
      width: 75%
      font-family: 'Outfit', sans-serif
      font-weight: 500

.navHeader .logo
      max-width: 6%
      cursor: pointer
      margin-right: auto

.nav__links
      list-style: none

.nav__links li
      display: inline-block
      font-size: 1.1em
      margin-left: auto

.nav__links li a
      padding: 5px 10px
      text-decoration: none
      color: #fff

.nav__links li a:hover
      color: #303030
      transition: all 0.3s ease

.navHeader .loginInput
      padding: 9px 25px
      border: none
      border-radius: 20px
      color: #FFF
      border: 1px solid #fff
      cursor: pointer
      margin-left: 5px
      text-decoration: none

.navHeader .loginInput:hover
      background-color: #ff850bce
      transition: all .3s ease
      border: 1px solid #fff
