*
      box-sizing: border-box
      margin: 0
      padding: 0
      text-decoration: none !important

::-webkit-scrollbar
      width: 6px

/* Track */
::-webkit-scrollbar-track
      background: #5f5f5fef

/* Handle */
::-webkit-scrollbar-thumb
      background: #E1533D
      border-radius: 5px
      

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
      background: #b4412f

body
      background-color: #fff !important

.notFound404 .info img
      display: block
      margin: 25px auto !important
      width: 48%

.notFound404 .info h1
      font-size: 55px
      text-align: center

.notFound404 .info h2
      font-size: 30px
      text-align: center
